.DS_Store
.dart_tool

# FVM Version Cache
.fvm/

# Integration Test
/integration_test/imposter.jar
/integration_test/petstore/petstore_api
/integration_test/music_streaming/music_streaming_api
/integration_test/gov/gov_api
/integration_test/simple_encoding/simple_encoding_api
/integration_test/fastify_type_provider_zod/fastify_type_provider_zod_api
/integration_test/composition/composition_api
/integration_test/query_parameters/query_parameters_api

# Dependencies
/pubspec.lock

