.DS_Store
.dart_tool

# FVM Version Cache
.fvm/

# Integration Test
/integration_test/imposter.jar
/integration_test/petstore/petstore_api
/integration_test/music_streaming/music_streaming_api
/integration_test/gov/gov_api
/integration_test/simple_encoding/simple_encoding_api
/integration_test/fastify_type_provider_zod/fastify_type_provider_zod_api
/integration_test/composition/composition_api
/integration_test/query_parameters/query_parameters_api
/integration_test/path_encoding/path_encoding_api
/integration_test/petstore_config/petstore_api
/integration_test/petstore_config/petstore_filtering_api
/integration_test/petstore_config/petstore_overrides_api
/integration_test/petstore_config/petstore_deprecation_api
/integration_test/binary_models/binary_models_api
/integration_test/form_urlencoded/form_urlencoded_api
/integration_test/boolean_schemas/boolean_schemas_api
/integration_test/type_arrays/type_arrays_api
/integration_test/medama/medama_api
/integration_test/inference/inference_api
/integration_test/ref_siblings/ref_siblings_api
/integration_test/defs/defs_api

# Dependencies
/pubspec.lock

