name: tonik_workspace

workspace:
 - packages/tonik
 - packages/tonik_core
 - packages/tonik_generate
 - packages/tonik_parse
 - packages/tonik_util

environment:
  sdk: '>=3.7.0 <4.0.0'

dependencies:
  collection: ^1.19.1
  dart_style: ^3.1.2
  logging: ^1.3.0
  meta: ^1.17.0
  path: ^1.9.1
  tonik: ^0.0.9
  tonik_core: ^0.0.9
  tonik_generate: ^0.0.9
  tonik_parse: ^0.0.9
  tonik_util: ^0.0.9

dev_dependencies:
  melos: ^7.1.1
  test: ^1.26.3
  very_good_analysis: ^10.0.0

melos:
  scripts:
    test:
      run: dart test
      exec:
        concurrency: 1
        
    generate:
      run: flutter pub run build_runner build --delete-conflicting-outputs
      exec:
        concurrency: 1
      select-package:
        depends-on: build_runner
