name: tonik_workspace

workspace:
 - packages/tonik
 - packages/tonik_core
 - packages/tonik_generate
 - packages/tonik_parse
 - packages/tonik_util

environment:
  sdk: '>=3.7.0 <4.0.0'

dependencies:
  collection: ^1.19.1
  dart_style: ^3.1.3
  logging: ^1.3.0
  meta: ^1.17.0
  path: ^1.9.1
  tonik: ^0.1.0
  tonik_core: ^0.1.0
  tonik_generate: ^0.1.0
  tonik_parse: ^0.1.0
  tonik_util: ^0.1.0

dev_dependencies:
  melos: ^7.3.0
  test: ^1.28.0
  very_good_analysis: ^10.0.0

melos:
  scripts:
    test:
      run: dart test
      exec:
        concurrency: 1
        
    generate:
      run: flutter pub run build_runner build --delete-conflicting-outputs
      exec:
        concurrency: 1
      select-package:
        depends-on: build_runner

    generate-integration-tests:
      run: ./scripts/setup_integration_tests.sh

    test-integration-petstore:
      run: |
        cd integration_test/petstore/petstore_test
        dart pub get
        dart test --concurrency=1

    test-integration-music-streaming:
      run: |
        cd integration_test/music_streaming/music_streaming_test
        dart pub get
        dart test --concurrency=1

    test-integration-gov:
      run: |
        cd integration_test/gov/gov_test
        dart pub get
        dart test --concurrency=1

    test-integration-simple-encoding:
      run: |
        cd integration_test/simple_encoding/simple_encoding_test
        dart pub get
        dart test --concurrency=1

    test-integration-fastify-type-provider-zod:
      run: |
        cd integration_test/fastify_type_provider_zod/fastify_type_provider_zod_test
        dart pub get
        dart test --concurrency=1

    test-integration-composition:
      run: |
        cd integration_test/composition/composition_test
        dart pub get
        dart test

    test-integration-query-parameters:
      run: |
        cd integration_test/query_parameters/query_parameters_test
        dart pub get
        dart test

    test-integration-path-encoding:
      run: |
        cd integration_test/path_encoding/path_encoding_test
        dart pub get
        dart test

    test-integration-all:
      run: |
        melos run test-integration-petstore
        melos run test-integration-music-streaming
        melos run test-integration-gov
        melos run test-integration-simple-encoding
        melos run test-integration-fastify-type-provider-zod
        melos run test-integration-composition
        melos run test-integration-query-parameters
        melos run test-integration-path-encoding
